@font-face {
    font-family: 'Thunder';
    src: url(Thunder-BlackLC.otf);
}

@font-face {
    font-family: 'Vercetti';
    src: url(Vercetti-Regular.otf);
}

* {
    font-family: 'Vercetti';
}

html {
    overflow-x: hidden;
}

body {
    margin: 0;
    background-color: #fff;
}

main {
    background-color: #fff;
    z-index: 1;
    margin-top: 41%;
    padding-bottom: 5%;
    padding-top: 5%;
}

header nav {
    top: 0;
    z-index: 3;
    position: fixed;
    width: 100%;
    margin-top: -5px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(113, 112, 112, 1);

}

.anim1 {
    top: 0;
    position: fixed;
    padding-top: 70px;
    z-index: -1;
    animation: scroll 1s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -2s);
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

.anim2 {

    top: 0;
    position: fixed;
    padding-top: 70px;
    z-index: -1;
    animation: scroll 1s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

header nav img {
    padding-top: 10px;
    max-width: 500px;
    max-height: 60px;
}

@keyframes scroll {
    from {
        filter :opacity(100%);
    }
    to {
        filter :opacity(0%);
    }
}
header nav .menu a {
    font-family: 'Vercetti';
    font-weight: bold;
    text-decoration: none;
    display: inline-flex;
    height: 40px;
    width: 150px;
    border: 2px solid transparent;
    margin: 20px 20px 20px 20px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1em;
    letter-spacing: 1.5px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    letter-spacing: 1px;
    position: relative;
}

header nav .menu a:hover {
    border: 2px solid #fff;
    transition: all 1s ease-out;
    color: #fff;
}

h2 {
    display: flex;
    justify-content: center;
}

.pres {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f6f6f6;
}

.pres h2 {
    font-size: 100px;
}

.pres img {
    border-radius: 30px;
    width: 800px;
}

.pres p {
    text-align: justify;
    margin-left: 15%;
    margin-right: 15%;
}


.clips {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

video {
    border-radius: 30px;
    margin: 20px;
    width: 400px;
    height: 240px;
}
.disco {
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;
}

.disco2 {
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;
}

.disco3 {
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;
}


.conten {
    font-family: 'Roboto',Helvetica,Arial,sans-serif;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.conten img {
    border-radius: 10px;
    width: 300px;
}

.conten img:hover {
    transform: scale(0.9);
    transition: .5s ease 0s;
}

.conten a img:not(:hover) {
    transition: .5s ease 0s;
}

.conten span {
    font-weight: light;
}

.conten p {
    font-weight: bold;
}


footer {
    font-family: 'Vercetti';
    font-weight: bold;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #717070;
}

footer .menu {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .menu a {
    padding: 10px;
    text-decoration: none;
    color: #b4b3b3;
}

footer .menu a:hover {
    color: #fff;
}

footer .RS {
    padding: 10px;
}




/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$evenements$$$$$$$$$$$$$$$$$$*/

.event {
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 30px;
    margin-top: 30px;
}

.event img {
    width: 300px;
    border-radius: 20px;
}

.event .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 100px;
}

.event button{   
    width: 96.4%;
    padding: 15px 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 17px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #717070;
    border: none;
    border-radius: 100px;
}
  
.event button:hover {
    background-color: black;
}



/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$evenements$$$$$$$$$$$$$$$$$$*/



/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$actus$$$$$$$$$$$$$$$$$$$$$$$$$$$*/

.container_insta {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.insta {
    display:flex;
    justify-content: center;
}
.insta1 {
    display:flex;
    justify-content: center;
}
.insta2 {
    display:flex;
    justify-content: center;
}
.insta3 {
    display:flex;
    justify-content: center;
}


.insta_content {
    margin: 20px;
    width: 500px;
}

/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$actus$$$$$$$$$$$$$$$$$$$$$$$$$$$*/


/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$contact$$$$$$$$$$$$$$$$$$$$$$$$$$$*/

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 6%;
}

form {
    background-color: #FFFFFF;  
    margin-top: 5%;
    height: 700px;
    width: 70%;   
    padding-top: 5%;

}

form select {
    margin-right: 30px;
    width: 400px;
    height: 50px;
    font-weight: 300;
    padding-left: 2%;
    border: 1px solid #E8E9F6;
    font-size: 18px;
    color: #717070;
    background-color: white;
}

form input {
    width: 377.9px;
    margin-top: 30px;
    margin-right: 30px;
    height: 47px;
    font-weight: 300;
    padding-left: 2%;
    border: 1px solid #E8E9F6;
    font-size: 18px;
    color: #717070;
    background-color: white;
}

form textarea {
    width: 817px;
    margin-top: 30px;
    height: 150px;
    font-weight: 200;
    padding-top: 2%;
    padding-left: 2%;
    border: 1px solid #E8E9F6;
    font-size: 18px;
    color: #717070;
    background-color: white;
}

form button{   
    width: 92.3%;
    padding: 15px 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 17px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #717070;
    border: none;
}
  
form button:hover {
    background-color: black;
}
/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$contact$$$$$$$$$$$$$$$$$$$$$$$$$$$*/

/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$photos$$$$$$$$$$$$$$$$$$$$$$$$$$$*/

section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

section img {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    margin: 30px;
    max-width: 800px;
    max-height: 400px;
}


/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$photos$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
